.loginPageDiv {
  background-color: #284139;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #CCCCCC66;/* 40% */
  padding: 50px;
  border-radius: 1rem;
}
.loginPage h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 32px;
}
.inputPhoneNum {
  margin-bottom: 10px;
  width: 300px;
  cursor: pointer;
}